<!-- <div *ngIf="isLoggedIn; else userMsg">
  <h3>Welcome User, go to profile</h3>
</div>
<ng-template #userMsg>
  <h3>Welcome, please login</h3>
</ng-template>
<h1>My First Angular App</h1>
{{msg}}
<hr>
x+y={{x+y}}
<br/>
Name of the employye : {{employee.name}}
<br/>
City of the employee : {{employee.city}}

<br />
<button (click)="showAddress()">Show Address</button>
{{employee.address}}
<br /><br />
<a href="Javascript :: void" (click)="loadData()">load data</a>
<br />
{{data}}
<p>
  Iterating over an array using for loop
</p>
<span *ngFor="let n of numArray">
  {{n}}
</span> -->
<!-- <div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">MyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Todos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Customers</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sign-up</a>
        </li>
      </ul>
    </div>
  </nav>

  <div *ngFor="let user of userData; let i = index">
    <div>
      <p>{{i+1}}</p>
      <p>{{user.name}}</p>
      <p>{{user.email}}</p>
      <p>{{user.address.city}}</p>
      <p>{{user.phone}}</p>
      <p>{{user.company.name}}</p>
      <button (click)="onDelete(user.id)">Delete</button>
    </div>
  </div>
</div> -->

<header>
  <app-navbar />
  <app-login-header></app-login-header>
 </header>
 <router-outlet></router-outlet>